body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#gameTextBox {
  width: 500px;
  height: 300px;
  background-color: black;
  overflow: hidden;
}

#gameText {
  padding-top: 0px;
  animation: textCrawl 100s linear 1;
}

@keyframes textCrawl {
  from{
    padding-top: 300px;
  } to {
    padding-top: 0px;
  }
}

.completed {
  color: gold;
}

.uncompleted {
  color: white;
  text-decoration: underline;
  position: relative;
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -2px;
  animation: cursorBlink linear .5s infinite alternate;
}

@keyframes cursorBlink {
  from {
    color:red;
  } to {
    color:rgb(62, 3, 3);
  }
}