@import url("https://db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi");

* {
  cursor: url("https://cdn.custom-cursor.com/db/9764/32/star-wars-millennium-falcon-cursor.png"), auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaperaccess.com/full/1268183.jpg");
  /* background: black; */
  color: white;

}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0px 50px 90px;
  height: 75px;
  font-size: x-large;
  font-family: 'Franklin Gothic', sans-serif;
  font-weight: 600;
  /* cursor: "url(https://cdn.custom-cursor.com/db/9763/32/star-wars-millennium-falcon-pointer.png), auto", */
}

.SWLogo {
  max-width: 500px;
  height: auto;
}

#swFont{
  font-family: 'Star Jedi';
  text-shadow: 4px 4px 4px #aaa;
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

#gameText span {
  font-size: 23px;
}

#gameTextBox {
  margin: auto;
  width: 375px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  box-shadow: 0 0 5pc #aaa;
  border-radius: 10px;
}

.over {
  padding-top: 200px;
}

#gameText {
  margin-top: -500px;
  animation: textCrawl 100s linear 1;
}

@keyframes textCrawl {
  from{
    margin-top: 510px;
  } to {
    margin-top: -500px;
  }
}

.completed {
  color: #FFE81F;
}

.uncompleted {
  color: white;
  position: relative;
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -2px;
  animation: cursorBlink linear .5s infinite alternate;
}

@keyframes cursorBlink {
  from {
    color:red;
  } to {
    color:rgb(62, 3, 3);
  }
}

#appBody{
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic', sans-serif;

}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid white;
}
thead{
  font-family: 'Star Jedi';
  font-weight: 100;
  font-size: larger;
}
th {
  width: 33%;
  padding: 20px;
  border-bottom: 1px solid white;
}

td {
  width: 33%;
  padding: 5px;
  border-bottom: 1px solid white;
}

.button{
  background:#FFE81F;
  color: black;
  cursor: url("https://cdn.custom-cursor.com/db/9763/32/star-wars-millennium-falcon-pointer.png"), auto;
  font-family: 'Star Jedi';
}

