body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 12px 50px 12px;
  height: 100px;
  font-size: larger;
}

.SWLogo {
  max-width: 50vw;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

#gameText span {
  font-size: 23px;
}

#gameTextBox {
  margin: auto;
  width: 375px;
  height: 600px;
  background-color: black;
  overflow: hidden;
  box-shadow: 0 0 10pc white;
  border-radius: 10px;
}

.over {
  padding-top: 280px;
}

#gameText {
  margin-top: -500px;
  animation: textCrawl 100s linear 1;
}

@keyframes textCrawl {
  from{
    margin-top: 530px;
  } to {
    margin-top: -500px;
  }
}

.completed {
  color: #FFE81F;
}

.uncompleted {
  color: white;
  position: relative;
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -2px;
  animation: cursorBlink linear .5s infinite alternate;
}

@keyframes cursorBlink {
  from {
    color:red;
  } to {
    color:rgb(62, 3, 3);
  }
}

#appBody{
  width: 100%;
  text-align: center;
}
